element.style {
    background: black;
  }
  body {
  display: block;
  margin: 8px;
  
  }
  styles.css
  element.style {
    border: solid;
 }
 element.style {
    border: solid 1px;
 }
 element.style {
    border: solid 1px;
 }
 body {
    color: white;
    background: black;
}

header {
    border: solid 2px white;
}